@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital@0;1&display=swap');

body{
    background-color: #232D3B;
    color: aliceblue;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 5%;

}

img{
    border-radius: 15px;
    min-width: 300px;
    max-width: 1000px;
    width: 100%;
}

h1,h2{
        font-family: "Open Sans", serif;
        font-weight: 700;
          "wdth" 100;
          font-size: clamp(1.25rem, 0.8971rem + 1.7647vw, 2rem);
}

p{
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: clamp(1rem, 0.9412rem + 0.2941vw, 1.125rem);
    line-height: 1.4em;
}

.color-span{
    color: #0044ff;
    
}


.gallery-h{
    text-align: center;
    font-size: clamp(2rem, 1.4706rem + 2.6471vw, 3.125rem);
}

.img-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.img-gallery img{
   height: 100%;
    object-fit: cover;
}

@media (min-width: 320px) and (max-width: 768px) {
    .img-gallery{
        grid-template-columns: 1fr;
    }
}