@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital@0;1&display=swap');

body{
    width: 100%;
    background-color: #232D3B;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans", serif;
}

.wrapper{
   max-width: 1000px;
   width: 90%;
   margin: 0 auto;
}

p{
    font-size: 16px;
    line-height: 1.5em;
}

h1{
    font-size: 2,5em;
    text-align: center;
}

h1 span{
    color: rgb(0, 0, 255);
}

.img-container{
    width:100%;
    height:auto;
}

.img-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .img-gallery{
        grid-template-columns: 1fr;
    }
}
